/*z-index tracker
    navigation: nav-container: z-index = 99;
    intro : intro-sect: z-index = 1;
    intro:before : intro-sect:before = -1;*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.5; /*increases space between words*/
    background-image: linear-gradient(#3d3d57, #2b1f48);
}

/*css for fonts*/
body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box; /*makes all text container take up the necessary space*/
    margin: 0;
}

/*Common CSS*/
.spread-around-fill {
    justify-content: space-between;
}

.vert-middle {
    align-items: center;
}

.vert-bottom {
    align-items: flex-end;
}

.justify-left {
    justify-content: flex-start;
}

/* CSS ANIMATIONS*/
@keyframes rot-anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/*chose wrap instead of row as it is more flexible*/
/*plus a prep for responsiveness? Only wraps if needed*/
.row {
    display: flex;
    flex-wrap: wrap;
}


/*Navigation*/

.nav-container {
    position: absolute; /*attached relative to ancestor(body). To change when scroll by certain amt*/
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.5s ease;
}

.nav-container.sticky{
    background-color: ghostwhite;
    position: fixed
}


.container {
    max-width: 1170px; /*By reducing the size of the box, looks centered*/
    margin: auto;
}

/*name*/
.logo-name {
    padding: 0 15px 15px; /*added extra padding to allow hover stability*/
}

.logo-name a {
    font-size:   50px;
    font-weight: 900;
    letter-spacing: 4px;
}

/*color front for "CH"*/
.logo-name a.front {
    position: relative;
    top: 5px;
    color: crimson;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    transition: all 0.5s ease;
}

/*color back for "AO HAO"*/
.logo-name span.back {
    position: relative;
    top: -7px;
    font-size: 40px;
    color: white;
    text-shadow: none;
    transition: all 0.6s ease;
}
.nav-container.sticky .logo-name a.front,
.nav-container.sticky .logo-name span.back {
    color: #3d3d57;
    position: relative;
    top: 0;
    font-size: 50px;
    color: #3d3d57;
    text-shadow: none;
    transition: all 0.6s ease;
}

.logo-name span.back:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 170px;
    height: 3px;
    background-color: ghostwhite;
    border-radius: 60px;
}

/*the selection List (outer)*/
.nav-elements {
    padding: 0 15px;
}

/*the selection List (inner)*/
.nav-elements ul {
    /*removes dot in uls. IMPORTANT to remember!*/
    list-style: none;

    /*makes elements only cover needed area, preps for inline-block*/
    margin: 0;
    padding: 0;
}

/*respective list element containers*/
.nav-elements ul li {
    display: inline-block;
    /*using inline block turns block elements into inline(area that margin/padding covers which is 0).*/
    margin-left: 30px;
}

/*words inside li elements*/
.nav-elements ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    /*top-down, left-right*/
    padding: 25px 0 0;
    display: block;
}

.nav-container.sticky .nav-elements ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: navy;
    /*top-down, left-right*/
    padding: 25px 0 0;
    display: block;
}

.highlight-container{
    width: 400px;
}

/*underline under nav options*/
.highlights-intro, .highlights-about-us, .highlights-xp, .highlights-survey{
    position: relative;
    background-color: navy;
    height: 3px;
    border-radius: 60px;
    transition: all 0.3s ease-in-out;
    width: 0;
}

.highlights-intro {
    left: 35px;
}

.highlights-about-us {
    left: 115px;
    top: -3px;
}

.highlights-xp {
    left: 205px;
    top: -6px;
}

.highlights-survey {
    left: 300px;
    top: -9px;
}

/*Introduction*/

/*image*/
.intro-sect {
    min-height: 100vh;
    background-image: url("assets/intro-img.png");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

/*shade on top of image*/
.intro-sect:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

div.box-turn{
    position: absolute;
    height: 40px;
    width: 40px;
    border:5px solid orange;
    right: 15%;
    top:15%;
    animation:rot-anim 5s linear infinite;
}

.intro-sect.row{
    min-height: 100vh;
}

.intro-text{
    color: white;
    flex: 0 0 100%;
    max-width: 100%;
}

/*Hello! I'm ChaoHao*/
p#intro-name-space{
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

/*I'm a + Typing Carousel*/
.container-movemint{
    position: absolute;
    /*makes carousel para stay in place*/
    font-weight: 900;
}

/*tying carousel*/
p#typing-carousel span.txt-rotate {
    position: relative;
    left: 20px;
    /*offset by +5px to make space b/w I'm a and carousel*/
    font-size: 60px;
}

/*I'm a*/
#im-a{
    position: relative;
    left: 15px;
    /*offset to no overlap*/
    font-weight: 400;
    font-size: 40px;
}

.intro-line{
    display: inline-flex;
    position: relative;
    width: 6px;
    height: 100px;
    background-color: crimson;
    border-radius: 60px;
}

.scroll-down{
    position: absolute;
    left: 50%;
    bottom: 30px;
    height: 70px;
    width: 70px;
    margin-left: -15px;
    animation: scroll-down 2s ease infinite;
}

@keyframes scroll-down{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%{
        transform:translateY(-30px);
    }
    60%{
        transform:translateY(-15px);
    }
}

.scroll-down img{
    width: 25px;
    display: block;
}


/*ABOUT PAGE*/

.section-title{
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.section-title h1{
    display: inline-block;
    font-size: 40px;
    color: white;
    font-weight: 700;
    margin: 0;
    position: relative;
    top: 25px;
}

.section-title h1:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 80px;
    height: 3px;
    background-color: orange;
}

.about-section{
    position: relative;
    padding: 140px 0;
}

.about-section .about-img {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}

.about-section .about-img .img-box img{
    border: 6px solid white;
    border-radius: 60px;
    width: 100%;
    display: block;
}

.about-section .about-content{
    flex: 0 0 40%;
    text-align: right;
    max-width: 40%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about-section .section-title{
    margin-bottom: 50px;
}

.about-section .about-content p{
    font-size: 16px;
    color: white;
    line-height: 26px;
    margin: 0;
}

/*%percentage skills*/

.stats{
    display: flex;
    justify-content: flex-end;
}

.skills{
    display: flex;
    flex-direction: row;
}

/*Base Circle*/
.skills .progress-circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: ghostwhite;
}

.skills .progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*Innermost circle, divider for gray and white background*/
.skills .progress-circle span {
    font-size: 1rem;
    color: gray;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    border-radius: 50%;
    background: white;
    z-index: 1;
}


/*gives text properties*/
.skills .progress-circle span:after {
    content: "%";
    font-weight: 600;
    color: gray;
}

/*bar*/
.skills .progress-circle.progress-25:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent),
    linear-gradient(180deg, darkred 50%, ghostwhite 50%, ghostwhite);
}

.skills .progress-circle.progress-38:after {
    background-image: linear-gradient(90deg, ghostwhite 50%, transparent 50%, transparent),
    linear-gradient(226.8deg, mediumpurple 50%, ghostwhite 50%, ghostwhite);
}

.skills .progress-circle.progress-72:after {
    background-image: linear-gradient(-10.8deg, cornflowerblue 50%, transparent 50%, transparent),
    linear-gradient(270deg, cornflowerblue 50%, ghostwhite 50%, ghostwhite);
}

/*labels*/

.stat-labels {
    position: relative;
    left: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stat-labels div{
    color: white;
}

/*MY-LIFE*/
#experiences{
    position: relative;
    min-height: 700px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    color: white;
    background-color: rgba(106, 90, 205, 0.44);
    background-image: linear-gradient(315deg, rgb(61, 61, 87) 0%, rgb(72, 72, 150) 40%, rgba(84, 84, 84, 0.49) 70%);
}

.xp-container{
    padding: 32px 32px 400px;
    margin: 0 auto; /*Left right margin is equal, if there is*/
    max-width: 800px;
}

.top-section{
    padding: 64px 0 0;
    margin: 0 auto;
    max-width: 600px;
    font-size: 30px;
    transform: translate(125px, 0);
}

/*Holds timeline*/
.timeline{
    position: relative;
    min-height: 100px;
    transform: translateY(5%);
/*    edit me to fit experience + lightbulb effect (if there is time)*/
}

.line{
    position: absolute;
    z-index: 2;
    left: 50%;
    width: 2px;
    top: -50px;
    background-color: white;
}


.section{
    display: flex;
    transform: translate(50%, 50%);
    position: relative;
    z-index: 1;
    margin: 50px 0;
    padding: 1rem;
    align-items: center;
    min-height: 300px;
}

.content.select{
    display: flex;
    flex-direction: column;
    transform: translateX(-140%);
}

.timeline-words.select, .content.select p{
    transform: translateX(20%);
    text-align: right;
}

/*tite + duration*/
.timeline-words{
    position: relative;
    white-space: nowrap;
}


.img-box-xp{
    min-height: 200px;
    background-size: cover;
    border: 2px solid white;
    border-radius: 50px;
    transform: translate(-140%, -60%);
}

.img-box-xp-section{
    position: relative;
    margin: 0;
    min-height: 200px;
    min-width: 400px;
    background-size: cover;
    border: 2px solid white;
    border-radius: 60px;
    transform: translate(150%, -60%);
}

.ntss{
    background-image: url("assets/newtownPhoto.png");
}

.sub{
    background-image: url("assets/sundayGang.png")
}

.np{
    background-image: url("assets/np.png")
}

.ntss-line, .sub-line, .np-line{
    display: flex;
    align-items: center;
    z-index: 10;
    min-height: 100px;
}

.ntss-line{
    min-width: 8px;
    background-color: cornflowerblue;
    border: 1px solid white;
    position: absolute;
    min-height: 450px;
    margin: 0;
    transform: translate(4400%, -12%);
    border-radius: 40px;
}

.sub-line{
    max-width: 8px;
    background-color: mediumseagreen;
    border: 1px solid #fcefef;
    position: relative;
    min-height: 650px;
    margin: 0;
    transform: translate(4700%, 35%);
    border-radius: 40px;
}

.np-line{
    max-width: 8px;
    background-color: purple;
    border: 1px solid #e7e7e7;
    position: relative;
    min-height: 250px;
    margin: 0;
    transform: translate(4400%, 60%);
    border-radius: 40px;
}

/* Contact-sections*/

.contact-section{
    position: relative;
    padding: 40px 0 80px;
}

.contact-section .section-title{
    position: absolute;
    transform: translate(130%, 300%);
}

.contact-section .section-title h1{
    color: #eee6e6;
    padding: 0 40px;
    text-shadow: 2px 0 #c41448;
    background-color: rgba(72, 72, 150, 0.83);
    border-radius: 0 90px 0 90px;
}
/*highlight for underline under header*/
.contact-section .section-title h1:before{
   transform: translate(55%, -400%);
}

/*what is the different between this here and above*/
/*.contact-section .section-title{*/
/*    position: absolute;*/
/*}*/

.contact-img{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.contact-img .img-box{
    padding: 50px 0 0;
}

.img-content-form{
    max-width: 1000px;
    height: 800px;
    background-color: purple;
    background-image: url("assets/chess-dog.jpg");
    background-size: cover;
    border-radius: 40px;
    background-position: -5%;
    transform: translateX(7%);
    z-index: -10;
}

.contact-section .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 65px;
}

.contact-section .contact-form .form{
    position: relative;
    border: 1px solid red;
    background-color: #424274;
    padding: 210px 0 100px;
    margin-top: -400px;
    border-radius: 0 0 40px 40px;
}

.contact-section .contact-form .form .row{
    transform: translateY(-40%);
}

.contact-section .contact-form .form label{
    color: white;
    font-weight: 500;
    display: block;
    padding: 5px 12px;
}

.contact-section .contact-form .form .input-group{
    flex:0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.contact-section .contact-form .form .input-group.left,
.contact-section .contact-form .form .input-group.right{
    flex: 0 0 50%;
    max-width: 100%;

}

.contact-section .contact-form .form .input-control{
    width: 100%;
    height: 45px;
    padding: 5px 12px;
    color: black;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.contact-section .contact-form .form .input-control:focus{
    outline: none;
}

#message-label {
    transform: translateY(200%);
}

#message{
    width: 100%;
    height: 140px;
    padding: 5px 12px;
    color: black;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    resize: none;
    transform: translateY(60%);
}

.form-btn .btn{
    background-color: #FF9800;
    color:#ffffff;
    border:2px solid transparent;
    padding:10px 35px;
    border-radius: 30px;
    line-height: 1.5;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.5s ease;
}

#submit-btn{
    display: flex;
    justify-content: center;
}


.contact-info, .social-links{
    color: white;
    transform: translate(10% 70%);
}

.contact-section .contact-info{
    flex:0 0 100%;
    max-width: 100%;
}
.contact-section .contact-info .info-item{
    flex:0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    padding:0 15px;
    margin-bottom: 40px;
    transform: translateY(60%);
}
.contact-section .contact-info .info-item h5{
    font-size: 16px;
    font-weight: 600;
    margin:0;
}
.contact-section .contact-info .info-item p{
    font-size: 16px;
    margin:0;
    color:ghostwhite;
}

.contact-section .social-links{
    flex:0 0 100%;
    max-width: 100%;
    padding:0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-section .social-links a{
    text-decoration: none;
    display: inline-block;
    margin:0 5px;
}

.logo-edit img{
    background-color: white;
    padding: 5px 0;
    border-radius: 5px;
}

.contact-section .social-links a img{
    width: 28px;
    display:block;
    transition: all 0.5s ease;
}
.contact-section .social-links a:hover img{
    opacity:0.5;
}

/* footer */

footer {
    transform: translateX(18%);
    background-color: white;
    max-width: 150vh;
    text-align: center;
    border-radius: 30px 30px 0 0;
}


.bottom{
    color:black;
    font-size: 16px;
    padding: 10px 0 30px;
}